<ul class="nav" role="menu">
    <li class="nav-home" role="menuitem"><a href="{{site.baseurl}}">Home</a></li>
    <li class="nav-about" role="menuitem"><a href="{{site.baseurl}}author/dexfire/">Dexfire</a></li>
    <li class="nav-getting-started" role="menuitem"><a href="{{site.baseurl}}tag/sweet/">Sweets</a>
    </li>
    <li class="nav-embed" role="menuitem"><a href="{{site.baseurl}}tag/ai/">AI</a></li>
    <li class="nav-embed" role="menuitem"><a href="{{site.baseurl}}tag/embed/">Embed</a></li>
    <li class="nav-about" role="menuitem"><a href="{{site.baseurl}}tag/star/">Stars</a></li>
</ul>